body {
    background-color: hsl(0, 0%, 100%);
    font-family: "Poppins";
}

.main-title {
    text-align: center;
    margin-top: calc((113/1440) * 100vh);
}

.title-slogan {
    font-weight: 200;
    color: hsl(212, 6%, 44%);
}

.title-powered {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}